body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    display: flex;
    background-color: #f0ead6;
    color: #404040;
    flex-direction: column; /* Adjusted to a column layout */
}

body {
    text-align: center;
}

.flex-column {
    display: flex;
    word-wrap: break-word;
    max-width: 1500px;
    width: auto
    flex-direction: column;
    align-self: center;
}

.div10 {
    align-self: Left;
}

.div11 {
    align-self: center;
}

.div12 {
    align-self: Right;
}
