body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    display: flex;
    background-color: #f0ead6;
    color: #404040;
    flex-direction: column; /* Adjusted to a column layout */
}

body {
    text-align: center;
}
nav {
    margin-bottom: 1.5em;
}
article {
    font-size: 0; /*fix white space*/
}
article > section {
    font-size: 16px;
    display: inline-block;
    width: 500px;
    border: 1px outset black;
    padding: 30px;
    box-sizing: border-box;
}
