body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    display: flex;
    background-color: #f0ead6;
    color: #404040;
    flex-direction: column; /* Adjusted to a column layout */
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
